@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
    <div>
        <ul>
        @foreach (var item in Model.Items) {
            <li>@item</li>
        }
        </ul>      
    </div>
</body>
</html>