@model Okisioli.HelloRazor.Core.PageModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title></title>
    </head>
    <body>
        <div>
            <h1>@Model.Title</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias quidem tempore voluptatum?
                Consectetur deserunt enim explicabo officia perspiciatis quaerat saepe temporibus.
                Aperiam asperiores fugit in inventore ipsa odit quibusdam saepe!
            </p>
        </div>
    </body>
</html>
